@font-face {
    font-family: "TRY Clother Black";
    src: url("./../fonts/try-clother-black.ttf") format("truetype");
}

@font-face {
    font-family: "Uni Sans Heavy CAPS";
    src: url("./../fonts/Uni Sans Heavy.otf") format("opentype");
}

@font-face {
    font-family: "Bebas Neue-Bold";
    src: url("./../fonts/BebasNeue-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Bebas Neue-Regular";
    src: url("./../fonts/BebasNeue-Regular.otf") format("opentype");
}

@font-face {
    font-family: "SocialicoPlus-Plus";
    src: url("./../fonts/SocialicoPlus-Plus.otf") format("opentype");
}

@font-face {
    font-family: "Jost-SemiBold";
    src: url("./../fonts/Jost-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: "Socialico-Regular";
    src: url("./../fonts/Socialico-Regular.otf") format("opentype");
}

@font-face {
    font-family: "LeagueSpartan-Bold";
    src: url("./../fonts/LeagueSpartan-Bold.otf") format("opentype");
}

@font-face {
    font-family: "RopaSans-Regular";
    src: url("./../fonts/RopaSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("./../fonts/OpenSans-Regular.ttf") format("opentype");
}

/*@font-face {*/
/*    font-family: "Anton-Regular";*/
/*    src: url("./../fonts/Anton-Regular.ttf") format("opentype");*/
/*}*/

@font-face {
    font-family: "PTSansNarrow-Regular";
    src: url("./../fonts/PTSansNarrow-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Book";
    src: url("./../fonts/CircularStd-Book.ttf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Bold";
    src: url("./../fonts/CircularStd-Bold.ttf") format("opentype");
}

/*@media (min-width: 1294px ) {*/
/*    .navbar {*/
/*        padding: 0 21%;*/
/*        background: linear-gradient(180deg, black, rgba(0, 0, 0, 1)) !important;*/
/*        background-color: transparent;*/
/*    }*/
/*}*/
@media (min-width: 768px ) {
    .navbar {
        background-color: transparent !important;
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 1000;
        background: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
    }
}

@media (min-width: 1200px) {
    .navbar {
        padding: 0 21%;
    }
}

@media (max-width: 768px) {
    .bg-dark {
        background-color: black !important;

    }
}

.el-button:focus, .el-button:hover {
    color: red;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.carousel {
    font-family: "Bebas Neue-Bold", sans-serif;
}

.form-control-sm {
    border-radius: 50px;
}

.navbar-brand {
    font-family: "CircularStd-Bold", sans-serif;
    font-size: 12pt;
}

.nav-link {
    font-family: "CircularStd-Bold", sans-serif;
    font-size: 16pt;
    color: white !important;
}

.nav-link:hover {
    color: gray !important;
}

/*.navbar {*/
/*    background-color: transparent !important;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    position: fixed;*/
/*    z-index: 1000;*/
/*    background: linear-gradient(180deg, black, rgba(0, 0, 0, 0));*/
/*}*/

.nav-item {
    font-family: "CircularStd-Bold", sans-serif;
    font-size: 18pt;
}

.el-icon-user:hover {
    color: gray !important;
}

.el-icon-goods:hover {
    color: gray !important;
}

.mr-sm-3 {
    font-family: "CircularStd-Book", sans-serif;
    font-size: 12pt;
    color: white !important;
}

.mr-sm-3:focus::placeholder {
    color: rgba(67, 67, 67, 0.4);
}

.mr-sm-3:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid white;
}

.social-icon {
    font-family: "Socialico-Regular";
    font-size: 40pt;
}

.si-f {
    color: #395a9a;
}

.social-icon-plus {
    font-family: SocialicoPlus-Plus;
    font-size: 40pt;
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: #000000 !important;
}

.el-radio-button__inner:hover {
    color: gray !important;
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    box-shadow: 1px 0 0 0 #000000 !important;
}

.el-button--primary {
    outline: 0 !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    justify-content: center !important;
    display: flex !important;
    vertical-align: center !important;
}

.el-button--primary:hover {
    background-color: #000000 !important;
}

.el-carousel__item:nth-child(2n) {
    background-color: transparent !important;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: transparent !important;
}

.car:hover {
    box-shadow: 0 1px 6px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    transform: translateY(-3px) !important;
}

.car {
    max-width: 30rem;
    cursor: pointer !important;
    border: none !important;
}

h2 {
    font-family: "CircularStd-Bold", sans-serif;
    font-size: 35pt;
}

.card_title {
    font-family: "CircularStd-Bold", sans-serif;
}

.card-footer {
    font-family: "CircularStd-Bold", sans-serif;
}
* {
     font-family: "CircularStd-Bold", sans-serif;

}
.model {
    font-size: 18pt;
}
.mrk {
    font-size: 24pt;
}

